html{
    font-size: 25px;
    font-family: "Montserrat";
}
body{
    
    min-height:100vh;
    display: flex;
    flex-direction: column;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,1) 0%, rgb(111, 121, 230) 100%);
    
}
nav{
    position: fixed;
    width: 100%;
    background-color:white;
   
}
.nav_ul{
    list-style: none;
    display: flex;
    justify-content: center;  
}
.nav_li{
    
    padding:.5rem;
    color:#4e42d4
}
.nav_li a{
    color:#4e42d4;
    text-decoration:none;
}
.nav_li i{
    text-align: right;
}
.nav_li:hover, .nav_li:hover a{
    color:#ff3859;
    transition: all 0.5s;
}

.titulo{
    
    padding:1.5rem;
    text-align:center;
    background-color: transparent;
    color:#4e42d4;
    
}
.contenedor_articulos{
    margin:.3rem;
    padding:.3rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.articulo{
    border-radius:10px ;
    background-color:#fff;
    margin: .3rem;
    text-align: center;
    box-sizing: border-box;
    padding: .6rem;
    max-width:45%;
    
    
} 

article:hover{
    box-shadow: 0 .1rem 0.8rem .3rem rgba(0, 0, 0, 0.2);
}

article img{
    width:200px;
}

article a{
    color: #4e42d4;
    text-decoration: none;
}

article a:hover{
    transition: all 1s;
    color: #ff3859;

}

.contenedor-footer{
    margin-top:auto;
    display: grid;
    background-color:transparent;
}

.texto-final{
    padding:2rem;
    text-align:center;
    color: black;
}

.pagina-siguiente{
    width:100%;
    text-align:end;
    text-decoration: none;
    color: #4e42d4
}

.pagina-siguiente i{
    padding-left:10px ;
}

.pagina-siguiente:hover{
    color:#ff3859;
    transition: color 1s
}

.logo{
    width: 200px;
    margin-top: 50px;
}

#sis-endo{
    width: 500px;
}

#sis-nerv{
    width: 500px;
}

#virus{
    width: 500px;
}

.articulo h5{
    margin-top: 15px;
}




